.index{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 1000;
    color: transparent;
    background: linear-gradient(red, white);;background-clip: text
}


.page-button{
    background-color: transparent;
    color: white;
    font-size: 25px;
}
.page-button:hover{
    background-color: crimson;
}

.title{
    color: red;
    font-size: 45px;
    font-weight: 700;
}
