.index{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 1000;
    color: transparent;
    background: linear-gradient(red, white);;background-clip: text
}


.page-button{
    background-color: transparent;
    color: white;
    font-size: 25px;
}
.page-button:hover{
    background-color: crimson;
}

.title{
    color: red;
    font-size: 45px;
    font-weight: 700;
}

.radio-items-input {
    display: none; /* Hide the default radio button */
}

.radio-items-label {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #b3c4d5c0;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.radio-items-label:hover {
    background-color: crimson; 
}

.content {
    position: relative;
    overflow: auto; /* Enable scrolling for content */
    height: 100vh; /* Make the content take full viewport height */
}